@charset "UTF-8";

/* == 全体の編集 （ここから）== */
/* wrapperで表示サイズを調整する */
.wrapper {
    width: 100vw;
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 40px;
    object-fit: cover;
    margin-bottom: 30px;
}
/* == 全体の編集 （ここまで）== */


/* == headerの編集 （ここから）== */
#header {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
/* ==　headerのheaderの編集 （ここまで）== */


/* == メインの編集（ここから）== */
/* アイテムの構成 */
.product-list {
    display: grid;
    gap: 20px;
    list-style: none;
    grid-template-columns: repeat(4,1fr);
}

.product-list img {
    width: 100%;
    max-width: 1360px;
    height: 100;
    /* object-fit: cover; */
}

.product-list a {
    color: black;
    text-decoration: none;
    font-size: 95%;
}

/* View Moreを中央に表示 */
.link-text {
    text-align: center;
    margin-top: 40px;
    color: black;
    text-decoration: none;
}
.link-text p {
    margin-top: 40px;
}

/* ハンバーガーメニュー */
/* 開閉ボタン（共通部分） */
.btn-menu{
    position: fixed; /* 位置を固定 */
    right: 1rem;
    top: 1rem;
    z-index: 4; /* 重なり位置 */
    padding: 0.5rem 1rem;
    height: 3.8rem;
    width: 3.8rem;
}
/* 開くボタン */
#menu-open span {
    width: 100%;
    height: 2px;
    background-color: black;
    position: relative;
    display: block;
}
  /* 三本線 */
#menu-open span:nth-child(1) {
    top: 0;
}
#menu-open span:nth-child(2) {
    margin: 8px 0;
}
#menu-open span:nth-child(3) {
    top: 0;
}

/* 閉じるボタン */
#menu-close span {
    width: 100%;
    height: 2px;
    background-color: black;
    position: relative; 
    display: block;
}
#menu-close span:nth-child(1) {
    transform: rotate(45deg);
    translate: 0 3.5px;
}
#menu-close span:nth-child(2) {
    opacity: 0;
}
#menu-close span:nth-child(3) {
    transform: rotate(-45deg);
}

/* スライドメニューパネル */
#menu-panel {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 5;
    padding: 8rem 2rem 2rem;
    width: 20vw;
    height: 100vh;
    background-color: rgba(241, 241, 241, 0.9);
    translate: 100vw;
}
.menu-list {
    list-style: none;
}
.menu-list li{
    margin: 1.5rem 0;
    opacity: 1;
}
.menu-list a {
    font-size: 20px;
    text-decoration: none;
    color: black;
}
.menu-list a:hover {
    opacity: 60%;
}


/* --itemのデザイン（ここから）-- */
/* アイテムの構成を二列にする */
/* .item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.item-text table{
    padding-top: 80px;
} */

/* 画像や文字の調整 */
/* .page-title {
    font-size: 20px;
    margin: 25px 0 10px 0;
}
.item-img img{
    width:92%;
} */

    /* 先生のやつ↓ */
    .page-title{
        font-size: 20px;
        margin-bottom: 10px;
    }
    .item {
        display: flex;
        max-width: 800px;
        justify-content: space-between;
    }
    .item .item-img {
        width: 42%;
    }
    .item .item-text {
        width: 50%;
    }
    .item .item-img img {
        width: 100%;
    }
    .item .item-text p{
        margin-bottom: 20px;
    }
    .item table th {
        text-align: left;
        font-weight: normal;
    }
    .item table td {
        padding-left: 1em;
    }
    /* 先生のやつ↑ */

/* itemのデザイン（ここまで） */

/* companyのデザイン（ここから） */
.page-title {
    padding: 20px 0;
    font-size: 15px;
    font-weight: normal;
}
#company {
    max-width: 600px;
}
#company .info {
    width: 100%;
    margin-bottom: 30px;
}
#company .info  th,
#company .info td{
    font-weight: normal;
    font-size: 14px;
    padding: 20px 50px 20px 0;
}
.info {
    /* テーブルの隙間を実践にする */
    border-collapse: collapse;
}
.info tr {
    border-bottom: 1px solid #dcdbdb;
}
/* 最後の行の線を消す */
.info tr:last-child {
    border-bottom: none; 
}
.info td{
    padding: 15px 0;
    margin-left: 2rem;
}
.info th{
    text-align: left;
    
}
.info tr:last-child th {
    vertical-align: top; 
}

/* map */
.map iframe {
    width: 600px;
    height: 300px;
    margin-bottom: 50px;
    filter: grayscale(1);
}

/* companyのデザイン（ここまで） */


/* == メインの編集（ここまで）== */


/* == footerの編集 （ここから）== */
.menu {
    display: flex;
    gap: 40px;
    list-style: none;
    margin: 20px 0;
}
/* == footerの編集 （ここまで）== */



/* レスポンシブ対応　スマホ画面（ここから） */
@media (max-width: 600px){
    .site-title img {
        width: 75%;
    }
    .product-list {
        grid-template-columns: repeat(2,1fr);
    }
    .product-list a {
        font-size: 75%;
    }
    .product-list p {
        line-height: 1.4;
        margin-top: 6px;
    }
    .link-text, .menu {
        font-size: 85%;
    }
    .menu li {
        font-size: 12px;
    }
    
    /* アイテムページ */
    .item {
        flex-direction: column;
    }
    .item .item-img, .item .item-text {
        width: 100%;
    }

    /* companyページ */
    #company .info  th,
    #company .info td{
        display: block;
        width: 100%;
        border-bottom: none;
        font-size: 14px;
        padding: 5px 0;
    }
    #company .info tr {
        border-bottom:1px solid #dcdbdb;
        display: block;
        padding: 10px 0;

    }
    #company .info tr:last-child {
        border-bottom: none; 
    }
    .info th, .info td {
        text-align: left;
    }
    .info td{
        margin-left: 0;
    }
    .map iframe {
        width: 300px;
        height: 280px;
    }
}
/* レスポンシブ対応　スマホ画面（ここまで） */
