@charset "UTF-8";

/* 全体の編集 （ここから）*/
/* wrapperで表示サイズを調整する */
.wrapper {
    width: 100vw;
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 40px;
    object-fit: cover;
}
/* 全体の編集 （ここまで）*/


/* headerの編集 （ここから）*/
#header {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
/* headerの編集 （ここまで）*/


/* メインの編集（ここから） */
/* アイテムの構成 */
.product-list {
    display: grid;
    gap: 20px;
    list-style: none;
    grid-template-columns: repeat(4,1fr);
}

.product-list img {
    width: 100%;
    max-width: 1360px;
    height: 100;
    /* object-fit: cover; */
}

.product-list a {
    color: black;
    text-decoration: none;
    font-size: 95%;
}

/* View Moreを中央に表示 */
.link-text {
    text-align: center;
    margin-top: 40px;
    color: black;
    text-decoration: none;
}
/* メインの編集（ここまで） */


/* footerの編集 （ここから）*/
.menu {
    display: flex;
    gap: 40px;
    list-style: none;
    margin: 20px 0;
}
/* footerの編集 （ここまで）*/



/* アイテムの構成を二列にする（ここから） */
.item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}
/* アイテムの構成を二列にする（ここまで） */


/* レスポンシブ対応　スマホ画面（ここから） */
@media (max-width: 600px){
    .site-title img {
        width: 75%;
    }
    .product-list {
        grid-template-columns: repeat(2,1fr);
    }
    .product-list a {
        font-size: 75%;
    }
    .link-text, .menu {
        font-size: 85%;
    }
}
/* レスポンシブ対応　スマホ画面（ここまで） */
