@charset "UTF-8";

/* == 全体の編集 （ここから）== */
/* wrapperで表示サイズを調整する */
.wrapper {
    width: 100vw;
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 40px;
    object-fit: cover;
    margin-bottom: 30px;
}
/* == 全体の編集 （ここまで）== */


/* == headerの編集 （ここから）== */
#header {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
/* ==　headerのheaderの編集 （ここまで）== */


/* == メインの編集（ここから）== */
/* アイテムの構成 */
.product-list {
    display: grid;
    gap: 20px;
    list-style: none;
    grid-template-columns: repeat(4,1fr);
}

.product-list img {
    width: 100%;
    max-width: 1360px;
    height: 100;
    /* object-fit: cover; */
}

.product-list a {
    color: black;
    text-decoration: none;
    font-size: 95%;
}

/* View Moreを中央に表示 */
.link-text {
    text-align: center;
    margin-top: 40px;
    color: black;
    text-decoration: none;
    margin: 30px 0;
}

/* --itemのデザイン（ここから）-- */
/* アイテムの構成を二列にする */
/* .item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.item-text table{
    padding-top: 80px;
} */

/* 画像や文字の調整 */
/* .page-title {
    font-size: 20px;
    margin: 25px 0 10px 0;
}
.item-img img{
    width:92%;
} */

    /* 先生のやつ↓ */
    .page-title{
        font-size: 20px;
        margin-bottom: 10px;
    }
    .item {
        display: flex;
        max-width: 800px;
        justify-content: space-between;
    }
    .item .item-img {
        width: 42%;
    }
    .item .item-text {
        width: 50%;
    }
    .item .item-img img {
        width: 100%;
    }
    .item .item-text p{
        margin-bottom: 20px;
    }
    .item table th {
        text-align: left;
        font-weight: normal;
    }
    .item table td {
        padding-left: 1em;
    }
    /* 先生のやつ↑ */


/* itemのデザイン（ここまで） */

/* == メインの編集（ここまで）== */


/* == footerの編集 （ここから）== */
.menu {
    display: flex;
    gap: 40px;
    list-style: none;
    margin: 20px 0;
}
/* == footerの編集 （ここまで）== */



/* レスポンシブ対応　スマホ画面（ここから） */
@media (max-width: 600px){
    .site-title img {
        width: 75%;
    }
    .product-list {
        grid-template-columns: repeat(2,1fr);
    }
    .product-list a {
        font-size: 75%;
    }
    .product-list p {
        line-height: 1.4;
        margin-top: 6px;
    }
    .link-text, .menu {
        font-size: 85%;
    }
    
    /* アイテムページ */
        .item {
            flex-direction: column;
        }
        .item .item-img, .item .item-text {
            width: 100%;
        }
}
/* レスポンシブ対応　スマホ画面（ここまで） */
